/** 
* Importing the font files into the project.
*/
@font-face {
  font-family: 'ZignutsPopins';
  src: url(../fonts/Poppins-Black.ttf) format('trueType');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'ZignutsPopins';
  src: url(../fonts/Poppins-ExtraBold.ttf) format('trueType');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'ZignutsPopins';
  src: url(../fonts/Poppins-Bold.ttf) format('trueType');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ZignutsPopins';
  src: url(../fonts/Poppins-SemiBold.ttf) format('trueType');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ZignutsPopins';
  src: url(../fonts/Poppins-Regular.ttf) format('trueType');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ZignutsPopins';
  src: url(../fonts/Poppins-Medium.ttf) format('trueType');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ZignutsPopins';
  src: url(../fonts/Poppins-Light.ttf) format('trueType');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ZignutsPopins';
  src: url(../fonts/Poppins-ExtraLight.ttf) format('trueType');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'ZignutsPopins';
  src: url(../fonts/Poppins-Thin.ttf) format('trueType');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'ZignutsPopins';
  src: url(../fonts/Poppins-BlackItalic.ttf) format('trueType');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'ZignutsPopins';
  src: url(../fonts/Poppins-ExtraBoldItalic.ttf) format('trueType');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'ZignutsPopins';
  src: url(../fonts/Poppins-BoldItalic.ttf) format('trueType');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'ZignutsPopins';
  src: url(../fonts/Poppins-SemiBoldItalic.ttf) format('trueType');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'ZignutsPopins';
  src: url(../fonts/Poppins-RegularItalic.ttf) format('trueType');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'ZignutsPopins';
  src: url(../fonts/Poppins-MediumItalic.ttf) format('trueType');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'ZignutsPopins';
  src: url(../fonts/Poppins-LightItalic.ttf) format('trueType');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'ZignutsPopins';
  src: url(../fonts/Poppins-ExtraLightItalic.ttf) format('trueType');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'ZignutsPopins';
  src: url(../fonts/Poppins-ThinItalic.ttf) format('trueType');
  font-weight: 100;
  font-style: italic;
}
